[Unit]
Description=Wallbox Monitor Service
ConditionPathExists=/opt/wallbox-monitor
After=network.target
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/wallbox-monitor
ExecStart=/opt/wallbox-monitor/bin/wallbox-monitor
#Restart=on-failure
Restart=always
RestartSec=10
SyslogIdentifier=wallbox-monitor
[Install]
WantedBy=multi-user.target